.menu {
  background-color: #ccc;
}

.menu ul {
  display: flex;
}

.menu ul li {
  display: block;
  margin: 10px auto;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(235, 6, 6);
}

.menu ul li a:hover {
  background-color: #fff;
  width: 100px;
  height: 20px;
}

.hl {
  background-color: salmon;
}
