body {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: #ccc;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: block;
  margin: 10px auto;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(235, 6, 6);
}

.menu ul li a:hover {
  background-color: #fff;
  width: 100px;
  height: 20px;
}

.hl {
  background-color: salmon;
}

.container {
  padding-top: 50px;
}
/* menghilangkan white space di atas menu */
.container h2 {
  margin-top: 0;
}
