html {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
  background-color: #666;
}

.container {
  width: 900px;
  margin: auto;
}
.card {
  width: 220px;
  height: 80px;
  padding: 0px 80px;
  line-height: 80px;
  background-color: #e3f3f3;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 16px;
  margin: auto;
  margin-bottom: 10px;
  /* justify-content: space-between; */
}

.card img {
  float: left;
  margin: 0 10px 0 -80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.card a{
  text-decoration: none;
}
.card .nama,
.card .telp {
  display: block;
  line-height: 20px;
  padding: 0 5px;
}

.card .nama {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.card .telp {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  color: #aaa;
}

.card .close {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  top: 0;
  right: 30px;
  color: #999;
  cursor: pointer;
}

.card:hover .close {
  color: red;
}
